body{
    background: rgb(134,7,7);
    background: linear-gradient(90deg, rgba(134,7,7,1) 14%, rgba(228,2,2,1) 27%, rgba(255,0,0,1) 73%, rgba(149,14,14,1) 86%);
    margin: 0;
    padding: 0;
}

header{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 242, 242);
    align-items: center;
    padding: 0 20px;
}

form{
    position: absolute;
    top: 50%;

}

nav{
    margin-right: 50px;
}

header div img{
    height: 10vh;
}

header nav label{
    padding: 20px;
}

header nav a{
    text-decoration: none;
    color: black;
}

.dates{
    width: 100px;
    position: absolute;
    left: 10%;
    top: 20%;
}

.title{
    padding: 2px 80px;
    background-color: bisque;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info{
    display: flex;
    background-color: white;
    justify-content: center;
    padding: 0 80px;
    width: 100%;
}

.username{
    position: absolute;
    right: 3%;
    top:17%;
    background-color: bisque;
    padding: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
}

.bookings{
    position: absolute;
    left: 25%;
    top: 55%;
    width: 43vh;
}
.title_bookings{
    position:relative;;
    background: #ffff;
    width: 43vh;
    top: -13px;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    padding-bottom:40px;
}

form{
    background:bisque;
    padding: 1vh;
}

form button{
    margin: .3vh 0px;
    height: 5vh;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #ffff;
}



button:hover{
    transform: scale(1.2);
    transition: transform .2s  ease;
}
a:hover{
    color: red;
    transition: color 0.3s ease;
}
